.link{
    display: flex ;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
   
    color: rgba(0, 0, 0, 0.6) ;
    @media (max-width: 575px) {
        font-size: 8px;
        
      };
     
        
    }
    

.link:hover  {
    color: black;
}
.sectiongrid{
    display: grid;
    grid-template-areas: "leftside main rightside";
    grid-template-columns: minmax(0, 5fr) minmax(0, 12fr) minmax(300px, 7fr);
    column-gap: 25px;
    @media (max-width: 768px) {
        display : flex ;
        flex-direction: column ;
        padding :  0 5px ;
        gap: 10px;
        
    }
}
.leftside {
    grid-area: leftside;
}
.main {
    grid-area: main;
}
.rightside {
    grid-area: rightside;
}

.cancel-default-button-style{
    padding: 12px !important;
    font-size: inherit !important;
    font-family: inherit !important;
    text-align: left !important;
}